

body {
    margin: 0;
    font-family: 'noto sans', sans-serif;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-image: url(../sitepet/614.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}
.left-login > h1 {
    text-shadow: 5px 5px 10px #0f051d;
    color: #e2ebe7;
   
    

}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgba(39, 3, 3, 0.7);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
 
}
.card-login{
    color: #ffa600;
    font-weight: 800;
    margin: 0;

}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield >input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;

}
.textfield > input::placeholder{
    color: #f0ffff94;


}
.btn-login{
    width: 80%;
    padding: 16px 0px;
    margin: 30px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4PX;
    color: #0f051d;
    background: #ffa600;
   cursor: pointer;
   box-shadow: 0PX 10PX 40PX -12PX #e3e9e3e1;
   
}


.cadastrar{
    cursor: pointer;
    color: #00ff40;
     justify-content: center;
    align-items: center;
    
}
.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    
}

.input-box  >input{
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    top: 10px;
    
}


.input-box >label{
    color: #f0ffffde;
    margin-bottom: 10px;

}
.input-group{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgba(39, 3, 3, 0.5);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    position: absolute;
    top: 10px;
    
}
.input-group{
    color:  #ffa600;
    font-weight: 800;
    margin: 0;
}
 
.container{
    width: 100vw;
    height: 140vh;
    background-image: url(../sitepet/614.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;
    top: 10px;
}
.plano-de-fundo{
    height: 150vH;


}
.form-helder{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    }
    .foto-de-cao{
        width: 20vw;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    header{
        width: 100%;
        background-image: linear-gradient(90deg, rgba(255, 102, 0, 0.8), rgba(253, 250, 71, 0.8));
        display: flex;
        justify-content: space-around;

    }
    .logo-imagem{
        width: 50px;
        height: 50px;
        background-color: black;
        border-radius: 25px;
    }
    
    .container-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-texto{
        margin-left: 20px;
        color: white;

    }
    .menu li{
        display: inline-block;
        margin: 0 50px;
    }
    
    .menu li a{
        font-size: 24px;
        text-decoration: none;
        color: rgb(51, 48, 47);
        text-transform: uppercase;
        padding: 10PX 55px;
        border-radius: 15px;

    }
    .menu li a:hover{
        background-color: rgba(29, 26, 26, 0.5);
    }